@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( #FFE6E6 , #E1AFD1 , #AD88C6 , #7469B6 );
}

#speed {
    width: 300px;
    height: 140px;
    background-color: white;
    box-shadow: 5px 5px 5px black ;
    font-family: Poppins;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
}

#speed p {
    padding: 7px;
    margin-top: 5px;
    margin-left: 5px ;
}